*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
src/WebApp.Database/WebApp.Database.dbmdl
src/WebApp.Database/WebApp.Database.jfm
src/WebApp.Web/Client/node_modules/
src/WebApp.Studios.Studio1/Studio1ClientConstants.cs
src/WebApp.Studios.Studio2/Studio2ClientConstants.cs
