<header class="header" fxLayout="row" fxLayoutAlign="center center">
    <div style="min-width: 250px;" fxLayout="row" fxLayoutAlign="start center" *ngIf="!showSearchBar || !mobile">
        <div style="padding-right: .7rem;">
            <button mat-icon-button (click)="showMenu()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div fxLayout="row" *ngIf="!mobile">
            <a routerLink="/">
                <h1>Movies</h1>
            </a>
            <span style="color: crimson; font-weight: bold; font-size: 2em;">.</span>
        </div>
    </div>
    <!-- <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <div class="container">
            <div fxLayout="row" fxLayoutAlign="end center" fxFlex>
                <form (ngSubmit)="searchMovies()" [formGroup]="formGroup">
                    <input class="search" #searchInput formControlName="searchQuery" [class.active]="showSearchBar" type="text" placeholder="Search" (blur)="searchFocusLost()">
                </form>
                <button (click)="showSearch()" style="background: transparent; border: none; padding: 0; margin: 0; outline: none; cursor: pointer;">
                    <mat-icon *ngIf="!showSearchBar">search</mat-icon>
                    <mat-icon *ngIf="showSearchBar">clear</mat-icon>
                </button>
            </div>
        </div>
    </div> -->
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <div class="container">
            <div style="max-width: 50%;">
                <form (ngSubmit)="searchMovies()" [formGroup]="formGroup" style="display: inline-flex;">
                    <input class="search" #searchInput formControlName="searchQuery" type="text" placeholder="Search" (blur)="searchFocusLost()">
                    <button type="submit" style="border: none;">
                        <mat-icon>search</mat-icon>
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
