.header {
  background: white;
  box-shadow: 0 3px 8px -4px rgba(0, 0, 0, .26); // border-bottom: 1px solid #eaeaea;
  // padding: .7rem 1.4rem .7rem .7rem;
  padding: .7rem;
}

.header a {
  color: inherit;
  text-decoration: none;
}

form {
  width: 100%;
}

.search {
  background: rgb(245, 245, 245);
  border-radius: 2px;
  padding: .7rem 1rem;
  box-sizing: border-box;
  line-height: normal;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  width: 100%;
  opacity: 1;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; // transform: scaleX(0);
}

.search.active {
  transform: scaleX(1);
  opacity: 1;
}

.navigation .active {
  border-bottom: 2px solid crimson;
  border-right: none;
  border-radius: 0;
}
