.page-wrapper {
    min-height: 100vh;
}

.header {
    z-index: 10;
}

.main {
    min-height: calc(100vh - 60px); // padding: 4.2rem 0 1.4rem;
    // box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.26);
    // z-index: 1;
}

.footer {
    padding: 1.4rem .7rem;
    position: absolute;
    bottom: 0;
}

.copyright {
    font-size: .9em;
    letter-spacing: 1px;
}

.header,
.main,
.footer {
    width: 100%;
}

.sidenav-container {
    min-height: calc(100vh - 60px);
    height: 100%;
    overflow-y: hidden;
    position: relative;
    box-sizing: border-box;
}

.sidenav {
    width: 240px;
    background: rgb(245, 245, 245);
}

.mat-drawer-content {
    overflow-y: overlay;
}
